---
layout: base
---

<div class="link-box" id="greeting">
	<h2>hi!</h2>
	<p>i'm ren, i like making things occasionally. my two favourite languages are <span style="color: #DEA584;">Rust</span> for its memory safety and <span style="color: #888888;">C</span> for its barebones low-level feel. i run arch linux with <a href="http://hyprland.org"  target="_blank">HyprlandWM</a> on my main system, mainly as a hobby.</p>
</div>

<div class="link-box-row">
	{% for link in site.data.links %}
	<a href="{{ link.href }}" target="_blank" rel="noopener noreferrer">
		<div class="link-box" {% if link.color %}style="background: {{ link.color }};"{% endif %}>
			<h2>
				<i class="i fa-brands {{ link.icon }}" aria-hidden="true"></i>
				{{ link.title }}
			</h2>

			<p>{{ link.desc }}</p>
		</div>
	</a>
	{% endfor %}
</div>
<!-- 
<div class="link-box posts">
	<h2>Recent Posts</h2>

	{% for post in site.posts limit:3 %}
	<div class="link-box" {% if post.color %}style="background: {{ post.color }};"{% endif %}>
		<a href="{{ post.url }}" target="_blank" rel="noopener noreferrer">
			<h3>{{ post.title }}</h3>
		</a>

		{{ post.excerpt }}
	</div>
	{% endfor %}
</div> -->

<h1>Projects</h1>

{%- include project-list.html -%}