---
layout: base
---

<div class="card" id="greeting">
	<h2>hi!</h2>
	<p>i'm ren, i love making things! i especially enjoy low level, video game and other graphical programming. here are some facts about me:</p>
	<ul>
		<li>my favourite languages are <span style="color: #DEA584;">Rust</span>, <span style="color: #abbbce;">C</span> and <a href="https://odin-lang.org/" style="color: #2679d1;">Odin</a>!</li>
		<li>i run <a style="color: #0d73cc;" href="https://nixos.org/">NixOS</a> with <a style="color: #00cfdb;" href="https://hyprland.org">HyprlandWM</a> as my main system</li>
		<li>i love making things for the <a href="https://play.date/" style="color: #ffc900;">Playdate handheld console</a>!</li>
	</ul>
</div>

<div class="card-row">
	{% for link in site.data.links %}
	<a href="{{ link.href }}">
		{% if link.color %}{%capture color%} style="background: {{ link.color }};"{%endcapture%}{%endif%}
		<div class="card"{{ color }}>
			<h2>
				<i class="i nf {{ link.icon }}" aria-hidden="true"></i>
				{{ link.title }}
			</h2>

			<p>{{ link.desc }}</p>
		</div>
	</a>
	{% endfor %}
</div>

<div class="card posts">
	<h2>Newest post</h2>

	{% include post-list.html limit=1 %}

	<br>
	<div class="link-row">
		<a href="/blog">
			<i class="nf nf-fa-newspaper" aria-hidden="true"></i>
			See more posts...
		</a>

		<a href="/feed.xml">
			<i class="i nf nf-fa-rss" aria-hidden="true"></i>
			RSS Feed
		</a>
	</div>
</div>

<h1>Projects</h1>

{% for p in site.projects reversed %}
	{% include project.html project=p %}
{% endfor %}