<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    {% assign title = page.pretty_title | default: page.title %}
    {% if title %}
    <title>{{ title }} | {{ site.title }}</title>
    {% else %}
    <title>{{ site.title }}</title>
    {% endif %}

    {% seo title=false %}

    <!-- Site resources -->
    <link rel="stylesheet" type="text/css" href={{ "/assets/style.css" | relative_url }} />
    <link rel="shortcut icon" type="image/x-icon" href={{ "/assets/favicon.gif" | relative_url }} />

    <!-- Noto Sans Malayalam - Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Malayalam:wght@600&display=swap" rel="stylesheet">

    <!-- Nerdfont icons -->
    <link rel="stylesheet" type="text/css" href={{ "/assets/nerdfonts/webfont.css" | relative_url }} />
</head>