{% for project in site.projects reversed %}
<div class="link-box {{ project.class }}" id="{{ project.title | slugify }}" {% if project.color %}style="background: {{ project.color }};"{% endif %}>
	<a href="#{{ project.title | slugify }}">
		<h2 title="Click to expand!">
			<i class="i {{ project.icon }}" aria-hidden="true"></i>
			{{ project.pretty_title | default: project.title }}
		</h2>
	</a>

	{{ project.content }}

	<div class="link-row">
		{% for link in project.links %}
			<a href="{{ link.href }}" target="_blank" rel="noopener noreferrer">
				<i class="i fa-brands {{ link.icon }}" aria-hidden="true"></i>
				{{ link.title }}
			</a>
		{% endfor %}
	</div>
</div>
{% endfor %}