{% assign project = include.project %}

{% assign color = "" %}
{% if project.color %}{%capture color%} style="background: {{ project.color }};"{%endcapture%}{%endif%}
<div class="card project {{include.class}} {{project.class}}" id="{{project.title | slugify}}"{{color}}>
	{% if include.hide_title != 1 %}
	<a class="hash-link" href="#{{ project.title | slugify }}">
		<h2 title="Click to expand!">
			<i class="i {{ project.icon }}" aria-hidden="true"></i>
			{{ project.pretty_title | default: project.title }}
		</h2>
	</a>
	{% endif %}

	{{ project.content | markdownify }}

	<div class="link-row">
		{% for link in project.links %}
			<a href="{{ link.href }}">
				<i class="i {{ link.icon }}" aria-hidden="true"></i>
				{{ link.title }}
			</a>
		{% endfor %}
	</div>
</div>