* {
    box-sizing: border-box;
}

html {
    font-family: "Noto Sans Malayalam", sans-serif;
    font-optical-sizing: auto;
    scroll-behavior: smooth;

    background: #1a1d2c;
    color: white;
    padding: 6px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;

    > h1, > h2 {
        color: #93b5af;
    }
}

h2 {
    margin-bottom: 0;
}

small {
    color: #657b83;
}

a {
    color: inherit;
    width: 100%;
    &:hover {
        color: #91bfff;
    }
}

.card-row {
    max-width: 550px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;

    a {
        text-decoration: none;
        min-width: 250px;
        flex: 1;
        color: white;
    }
}

.card {
    background-color: #1a1d2b;
    filter: drop-shadow(0 25px 25px rgba(0, 0, 0, 0.15));
    border-radius: 8px;
    padding: 0px 16px;
    height: 100%;

    min-width: 250px;
    max-width: 550px;

    &.posts {
        background-color: #151426;
        display: flex;
        flex-direction: column;
        gap: 6px;

        > .post {
            filter: none; /* Disable box shadow for embedded post object */
        }
    }

    &.post {
        font-size: large;

        &.main-content {
            max-width: 700px;

            background-color: #151426;
            font-family: sans-serif;
            color: #93b5af;
        }

        h3 {
            margin-bottom: 0;
        }
    }

    border: 2px solid #657b83;
    &.selected, &:hover {
        &:not(.main-content) {
            border-color: #91bfff;
        }
    }

    &.selected, &:target {
        max-width: 900px;
    }

    &:target {
        animation-name: grow-card;
        animation-duration: 1s;

        @keyframes grow-card {
            from {max-width: 550px;}
        }
    }

    &.pixelate {
        image-rendering: pixelated;
    }

    &.black-text {
        color: #151426;
        a:hover { color: #006df2; }
    }

    .link-row {
        padding: 12px 3px;
        font-size: 1.2em;
        padding-top: 0;

        a {
            white-space: nowrap;
            margin-right: 5px;
            text-decoration: none;
        }
    }

    > a.hash-link {
        text-decoration: none;
        cursor: grab;
    }

    video, img {
        width: 100%;
    }
}
