---
layout: base
---

<h1>
	{{ page.pretty_title | default: page.title }}
	| <a href="/blog"><i class="fa-solid fa-newspaper"></i></a>
</h1>

<div class="card post selected {{ page.class }}" {% if page.color %}style="background: {{ page.color }};"{% endif %}>

	{{ content }}

</div>

<!-- Display related project -->
{% for p in site.projects %}
	{% assign id = p.title | slugify %}
	{% if id == page.project %}

		<h1>Related project</h1>

		{% include project.html project=p class="selected" %}
	{% endif %}
{% endfor %}
