---
layout: base
---

<h1>
	{{ page.pretty_title | default: page.title }}
	| <a href="/blog"><i class="nf nf-fa-newspaper"></i></a> | <a class="noul" href="/"><i class="nf nf-fa-house"></i></a>
</h1>

<div class="attach-cards-to-top">
	{% if page.color %}{%capture color%} style="background: {{ page.color }};"{%endcapture%}{%endif%}
	<div class="card post selected {{ page.class }}"{{ color }}>

		{{ page.excerpt }}

	</div>

	<div class="card post selected main-content">

		{{ content | remove_first: page.excerpt }}

	</div>
</div>

{% for p in site.projects %}
	{% assign id = p.title | slugify %}
	{% if id == page.project %}
		<!-- Related project -->
		<h1>Related project</h1>

		{% include project.html project=p class="selected" disable_expand_link=1 %}
	{% endif %}
{% endfor %}
